/ResumeDbApp/target
/ResumeDbApp/.idea
/ResumeDesktopApp/.idea
/ResumeDesktopApp/target
/ResumeDesktopApp/bin
/ResumeDbApp/.classpath
/ResumeDbApp/.project
/ResumeDesktopApp/.settings
/ResumeDesktopApp/*.classpath
/ResumeDesktopApp/*.project
